
<partial name="Sections/_BreadCrumbSection" />
<section class="portfolio_details_page_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 col-xl-8">
                <div class="folio_details_plain_gallery">
                    <img src="~/images/projects/31.jpg" alt="" />
                    <img src="~/images/projects/32.jpg" alt="" />
                    <img src="~/images/projects/33.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4">
                <div class="folio_details_content">
                    <h5 class="sub_title">Helping ambition brands growing</h5>
                    <h2 class="sec_title">
                        Discover Our <span class="fw_400">featured projects</span>
                    </h2>
                    <div class="fol_description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                            error sit voluptatem accusantium doloremque
                        </p>
                        <p>
                            Laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                            explicabo. Nemo enim ipsam voluptatem.
                        </p>
                    </div>
                    <div class="folio_meta">
                        <div class="fm_item">
                            <strong>Date :</strong>30 / 01 / 2021
                        </div>
                        <div class="fm_item">
                            <strong>Client :</strong><a href="#">Jon Sone</a>
                        </div>
                        <div class="fm_item">
                            <strong>Category :</strong><a href="#">Besiness</a>, <a href="#">Treep</a>
                        </div>
                        <div class="fm_item">
                            <strong>Tags :</strong><a href="#">chair</a>, <a href="#">light</a>, <a href="#">lamp</a>
                        </div>
                        <div class="fm_item fmi_social">
                            <strong>Share :</strong><a href="#"><i class="icofont-facebook"></i></a><a href="#"><i class="icofont-twitter"></i></a><a href="#"><i class="icofont-instagram"></i></a><a href="#"><i class="icofont-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
