<partial name="Sections/_BreadCrumbSection" />


<section class="inner_page_section blog_single_page_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single_insight_content">
                            <div class="sic_thumb">
                                <img src="~/images/blog/7.jpg" alt="" />
                            </div>
                            <div class="sic_details">
                                <div class="sic_author">
                                    <img src="~/images/author/6.jpg" alt="" />
                                    <span>by <a href="#">Lore Pop</a> <a href="#">Decembar 21,2020</a></span>
                                </div>
                                <h3>
                                    It is really easy to conqure tha world with us by your side Lorem ipsum dolor sit amet.
                                </h3>
                                <div class="sic_the_content">
                                    <p class="mb34">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <p class="mb38">
                                        <img src="~/images/blog/10.jpg" alt="" />
                                    </p>
                                    <p class="mb24">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                                        ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                        voluptas sit aspernatur aut odit aut fugit.
                                    </p>
                                    <blockquote class="mb44">
                                        <p>
                                            Sed ut perpiciatis unde omnis iste natus error sit volptatem accusantium doloremque laudntium, totam rem apriam,
                                            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        </p>
                                    </blockquote>
                                    <h6 class="fw_700 mb17">Dicta sunt explicabo</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="sic_meta_row">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="sicmr_tag clearfix">
                                        <i class="icofont-tags"></i>
                                        <a href="#">Branding,</a><a href="#">UI Design,</a><a href="#">Booking,</a><a href="#">Statup,</a><a href="#">Landing</a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="sicmr_social">
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                        <a href="#"><i class="icofont-vimeo"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sic_author_row">
                            <img src="~/images/author/13.jpg" alt="" />
                            <h3><a href="#">Lore Pop</a></h3>
                            <p>
                                technology strategy and the roadmap to implement that? The leaders are owning their own data, refreshing it constantly and,
                                more importantly, using it to inform the business decisions.
                            </p>
                        </div>
                        <div class="sic_comment_row">
                            <div class="sic_comments">
                                <h3 class="sicc_title">Comments</h3>
                                <ol class="sicc_list">
                                    <li>
                                        <div class="single_comment">
                                            <img src="~/images/author/14.jpg" alt="" />
                                            <h3><a href="#">Adobe Dear</a></h3>
                                            <h6>7 months ago</h6>
                                            <div class="sc_content">
                                                Technology strategy and the roadmap to implement that? The leaders are owning their own data, refreshing.
                                            </div>
                                            <a href="#" class="reply-link"><i class="icofont-reply"></i>Reply</a>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="single_comment">
                                                    <img src="~/images/author/15.jpg" alt="" />
                                                    <h3><a href="#">Lore Pop</a></h3>
                                                    <h6>7 months ago</h6>
                                                    <div class="sc_content">
                                                        Technology strategy and the roadmap to implement that? The leaders are owning their own data, refreshing.
                                                    </div>
                                                    <a href="#" class="reply-link"><i class="icofont-reply"></i>Reply</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="single_comment">
                                            <img src="~/images/author/14.jpg" alt="" />
                                            <h3><a href="#">Adobe Dear</a></h3>
                                            <h6>7 months ago</h6>
                                            <div class="sc_content">
                                                Technology strategy and the roadmap to implement that? The leaders are owning their own data, refreshing.
                                            </div>
                                            <a href="#" class="reply-link"><i class="icofont-reply"></i>Reply</a>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                            <div class="sic_comments_form">
                                <h3 class="sicc_title fw_700">Leave a Reply</h3>
                                <form method="post" action="#" class="row">
                                    <div class="col-lg-12">
<textarea name="comment" placeholder="Comment"></textarea>
                                    </div>
                                    <div class="col-lg-12 clearfix">
                                        <input type="text" placeholder="Your Name" name="name" />
                                        <input type="email" placeholder="Your Email" name="email" />
                                        <input type="text" placeholder="Your URL" name="url" />
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit" name="submit" class="pro_btn_2"><span>Comment</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="blog_sidebar">
                    <aside class="widget">
                        <h3 class="widget_title">Search Post</h3>
                        <form method="get" action="#" class="search_form">
                            <input type="search" name="s" id="s" placeholder="Your Search" />
                            <button type="submit"><i class="icofont-search-2"></i></button>
                        </form>
                    </aside>
                    <aside class="widget categories_widget">
                        <h3 class="widget_title">Category</h3>
                        <ul>
                            <li><a href="#">Web Development</a>(25)</li>
                            <li><a href="#">Graphic Design</a>(11)</li>
                            <li><a href="#">Php Programming</a>(17)</li>
                            <li><a href="#">React Js Learning</a>(23)</li>
                            <li><a href="#">Web Design</a>(20)</li>
                        </ul>
                    </aside>
                    <aside class="widget">
                        <h3 class="widget_title">Popular Products</h3>
                        <div class="product_widget_item">
                            <img src="~/images/widgets/1.jpg" alt="" />
                            <h5><a href="#">Delux Chair Ottoman</a></h5>
                            <div class="pro_rating">
                                <div class="rating"></div>
                                <span>5.0</span>
                            </div>
                            <div class="pro_price">
                                $22
                            </div>
                        </div>
                        <div class="product_widget_item">
                            <img src="~/images/widgets/2.jpg" alt="" />
                            <h5><a href="#">Delux Chair Ottoman</a></h5>
                            <div class="pro_rating">
                                <div class="rating"></div>
                                <span>5.0</span>
                            </div>
                            <div class="pro_price">
                                $22
                            </div>
                        </div>
                        <div class="product_widget_item">
                            <img src="~/images/widgets/3.jpg" alt="" />
                            <h5><a href="#">Delux Chair Ottoman</a></h5>
                            <div class="pro_rating">
                                <div class="rating"></div>
                                <span>5.0</span>
                            </div>
                            <div class="pro_price">
                                $22
                            </div>
                        </div>
                    </aside>
                    <aside class="widget">
                        <h3 class="widget_title">Tags</h3>
                        <div class="tagCloud">
                            <a href="#">Branding</a>
                            <a href="#">Web</a>
                            <a href="#">Graphic Design</a>
                            <a href="#">Template</a>
                            <a href="#">UI / UX</a>
                            <a href="#">Product Design</a>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>