<partial name="Sections/_BreadCrumbSection" />

<section class="inner_page_section blog_page_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="single_insight_3">
                            <div class="si3_thumb">
                                <img src="~/images/blog/3.jpg" alt="" />
                            </div>
                            <div class="si3_details">
                                <div class="si3_author">
                                    <img src="~/images/author/6.jpg" alt="" />
                                    <span>by <a href="#">Lore Pop</a> <a href="#">Decembar 21,2020</a></span>
                                </div>
                                <h3>
                                    <a href="single_blog_01.html">It is really easy to conqure tha world with us by your side</a>
                                </h3>
                                <div class="si2_excerpt">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                                </div>
                                <a href="single_blog_01.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single_insight_3">
                            <div class="si3_thumb">
                                <img src="~/images/blog/4.jpg" alt="" />
                            </div>
                            <div class="si3_details">
                                <div class="si3_author">
                                    <img src="~/images/author/6.jpg" alt="" />
                                    <span>by <a href="#">Lore Pop</a> <a href="#">Decembar 21,2020</a></span>
                                </div>
                                <h3>
                                    <a href="single_blog_01.html">It is really easy to conqure tha world with us by your side</a>
                                </h3>
                                <div class="si2_excerpt">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                                </div>
                                <a href="single_blog_01.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single_insight_3">
                            <div class="si3_thumb">
                                <img src="~/images/blog/5.jpg" alt="" />
                            </div>
                            <div class="si3_details">
                                <div class="si3_author">
                                    <img src="~/images/author/6.jpg" alt="" />
                                    <span>by <a href="#">Lore Pop</a> <a href="#">Decembar 21,2020</a></span>
                                </div>
                                <h3>
                                    <a href="single_blog_01.html">It is really easy to conqure tha world with us by your side</a>
                                </h3>
                                <div class="si2_excerpt">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                                </div>
                                <a href="single_blog_01.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single_insight_3">
                            <div class="si3_thumb">
                                <img src="~/images/blog/6.jpg" alt="" />
                            </div>
                            <div class="si3_details">
                                <div class="si3_author">
                                    <img src="~/images/author/6.jpg" alt="" />
                                    <span>by <a href="#">Lore Pop</a> <a href="#">Decembar 21,2020</a></span>
                                </div>
                                <h3>
                                    <a href="single_blog_01.html">It is really easy to conqure tha world with us by your side</a>
                                </h3>
                                <div class="si2_excerpt">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                                </div>
                                <a href="single_blog_01.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pdt40">
                    <div class="col-lg-12 text-center">
                        <div class="pro_pagination">
                            <a href="#">1</a>
                            <span class="current">2</span>
                            <a href="#">3</a>
                            <span class="empties">...</span>
                            <a href="#"><i class="icofont-simple-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog_sidebar">
                    <aside class="widget">
                        <h3 class="widget_title">Search Post</h3>
                        <form method="get" action="#" class="search_form">
                            <input type="search" name="s" id="s" placeholder="Your Search" />
                            <button type="submit"><i class="icofont-search-2"></i></button>
                        </form>
                    </aside>
                    <aside class="widget categories_widget">
                        <h3 class="widget_title">Category</h3>
                        <ul>
                            <li><a href="#">Web Development</a>(25)</li>
                            <li><a href="#">Graphic Design</a>(11)</li>
                            <li><a href="#">Php Programming</a>(17)</li>
                            <li><a href="#">React Js Learning</a>(23)</li>
                            <li><a href="#">Web Design</a>(20)</li>
                        </ul>
                    </aside>
                    <aside class="widget">
                        <h3 class="widget_title">Popular Products</h3>
                        <div class="product_widget_item">
                            <img src="~/images/widgets/1.jpg" alt="" />
                            <h5><a href="#">Delux Chair Ottoman</a></h5>
                            <div class="pro_rating">
                                <div class="rating"></div>
                                <span>5.0</span>
                            </div>
                            <div class="pro_price">
                                $22
                            </div>
                        </div>
                        <div class="product_widget_item">
                            <img src="~/images/widgets/2.jpg" alt="" />
                            <h5><a href="#">Delux Chair Ottoman</a></h5>
                            <div class="pro_rating">
                                <div class="rating"></div>
                                <span>5.0</span>
                            </div>
                            <div class="pro_price">
                                $22
                            </div>
                        </div>
                        <div class="product_widget_item">
                            <img src="~/images/widgets/3.jpg" alt="" />
                            <h5><a href="#">Delux Chair Ottoman</a></h5>
                            <div class="pro_rating">
                                <div class="rating"></div>
                                <span>5.0</span>
                            </div>
                            <div class="pro_price">
                                $22
                            </div>
                        </div>
                    </aside>
                    <aside class="widget">
                        <h3 class="widget_title">Tags</h3>
                        <div class="tagCloud">
                            <a href="#">Branding</a>
                            <a href="#">Web</a>
                            <a href="#">Graphic Design</a>
                            <a href="#">Template</a>
                            <a href="#">UI / UX</a>
                            <a href="#">Product Design</a>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
