<partial name="Sections/_BreadCrumbSection" />

<section class="service_details_page_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h5 class="sub_title">Helping ambition brands growing</h5>
                <h2 class="sec_title">
                    Business hand in hand with our technology. We <span class="fw_400 td_underline">design spaces</span> will make
                    you fall in love with <span class="fw_400 td_underline secondary_color">work again</span>.
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="service_thumb">
                    <img src="assets/images/services/19.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="service_details">
                    <i class="flaticon-crane"></i>
                    <h3>Petroleum and Gas</h3>
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <p>
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt92">
            <div class="col-md-4 col-lg-4">
                <div class="icon_box_02">
                    <svg height="49" viewBox="0 0 21 21" width="49" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd" transform="matrix(0 -1 1 0 1.5 18.5)">
                            <path d="m2.5.5h3c1.1045695 0 2 .8954305 2 2v13c0 1.1045695-.8954305 2-2 2h-3c-1.1045695 0-2-.8954305-2-2v-13c0-1.1045695.8954305-2 2-2z" stroke-linecap="round" stroke-linejoin="round" />
                            <circle cx="4" cy="4" r="1" />
                            <path d="m9.50624332.5000411 2.99999998.00936502c1.1021268.00344048 1.9937567.89785814 1.9937567 1.99999026v12.99057222c0 1.1045695-.8954305 2-2 2-.0020811 0-.0041622-.0000032-.0062433-.0000097l-3.00000002-.009365c-1.10212675-.0034405-1.99375668-.8978582-1.99375668-1.9999903v-12.99057225c0-1.1045695.8954305-2 2-2 .00208111 0 .00416222.00000325.00624332.00000975z" stroke-linecap="round" stroke-linejoin="round" />
                            <circle cx="11" cy="4" r="1" />
                        </g>
                    </svg>
                    <h3>UX recherche</h3>
                    <p>
                        Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="icon_box_02">
                    <svg class="mb18" height="49" viewBox="0 0 21 21" width="49" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" transform="translate(2 2)">
                            <path d="m5.5.5h6v5h-6z" />
                            <path d="m10.5 11.5h6v5h-6z" />
                            <path d="m.5 11.5h6v5h-6z" />
                            <path d="m3.498 11.5v-3h10v3" />
                            <path d="m8.5 8.5v-3" />
                        </g>
                    </svg>
                    <h3>UI design</h3>
                    <p>
                        Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="icon_box_02">
                    <svg class="mb14 mlm7" height="49" viewBox="0 0 21 21" width="49" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" transform="translate(3 2)">
                            <path d="m.5 9v3.5c0 1.1045695.8954305 2 2 2h7c1.1045695 0 2-.8954305 2-2v-7c0-1.1045695-.8954305-2-2-2h-3.5" transform="matrix(0 1 -1 0 15 3)" />
                            <path d="m11.5.5v6" />
                            <path d="m11.5.5v6" transform="matrix(0 1 -1 0 15 -8)" />
                        </g>
                    </svg>
                    <h3>Supporting sucess</h3>
                    <p>
                        Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt27">
            <div class="col-lg-12">
                <h3 class="service_heading">Social Good. Financial Success</h3>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="sd_desc_left">
                    <p>
                        <span class="secondary_color large_fonts">Ut enim ad minim veniam,</span> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <p>
                        Excepteur sint occaecat cupidatat non proident, <span class="dark_color td_underline">sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="sd_desc_right">
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="subscribe_section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-3 noPaddingRight">
                <h2>NewsLetter</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
            <div class="col-md-7 col-lg-6 offset-lg-3">
                <form method="post" action="#" class="subscribe_form">
                    <input type="email" name="sub_email" placeholder="Enter your email">
                    <button type="submit">Message Us</button>
                </form>
            </div>
        </div>
    </div>
</section>